/*
	style.css for GifTastic
	Coding BootCamp at UNC Homework Assignment #6
  October 7, 2017
	Bo Slott
*/

/*  --------------------------------------------  */

html {
font-size: 62.5%;
}

/* Body */

  body {
    background-image: url("../images/stoneWallBG.jpg");
    background-size: 100%;
    z-index: -1;
    box-sizing: border-box;
}

/*  Navbar */

/*  Site Body */

  .topics-sign-row {
    position: relative;
    text-align: center;
    z-index: 0;
  }

  .topics-sign {
    background-image: url("../images/dropDownSign.png");
    background-size: 80%;
    min-height: 20rem;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
  }

  .topics-sign h1 {
    position: absolute;
    bottom: 5rem;
    left: 12.5rem;
    color: #E8800C;
    font-weight: bold;
    font-size: 4.2rem;
    text-shadow: 0.15rem 0.12rem 0.15rem
  }

  .new-topic {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .new-topic-btn {
    margin: 2rem 1rem;
    background-color: #e8800c;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    border-style: solid;
    border-color: #fff;
    border-width: 0.05rem;
    border-radius: 8%;
  }

  .topic-options {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .topic-btns {
    margin: 2rem 1rem;
    background-color: #e8800c;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    border-style: solid;
    border-color: #fff;
    border-width: 0.05rem;
    border-radius: 10%;
  }

  .topic-btns:hover {
    background-color: #3CB7FF;
    color: #AB6809;
    border-color: #e8800c;
  }

  .new-topic-sign-column {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 30rem;
    outline: 2px dotted red;
  }

  .new-topic-sign {
    width: 80%;
    left: -2%;
    position: absolute;
    bottom: 0;
  }

  .new-topic-sign-column h2 {
    font-size: 3.9rem;
    color: #e8800c;
    font-weight: bold;
    position: absolute;
    bottom: 60%;
    left: 10%;
    text-shadow: 0.12rem 0.12rem 0.12rem #FFED35;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-5deg); /* Standard syntax */
  }

  .new-topic-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-width: 0.15rem;
    border-color: #e8800c;
    border-radius: 5%;
    text-align: center;
    margin-top: 2rem;
  }

  .new-topic-header h2 {
    width: 70%;
    padding-bottom: 1rem;
    font-size: 3rem;
    color: #E8800C;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    font-weight: bold;
    margin: 1rem auto 2rem;
    border-style: solid;
    border-bottom-width: 0.1rem;
    border-color: rgba(255,255,255,0.9);
  }

  .new-topic-form input {
    margin-bottom: 2rem;
    border-style: solid;
    border-width: 0.12rem;
    border-color: #000;
    border-radius: 5%;
  }

  .new-topic-sub-btn {
    margin: 2rem 1rem;
    background-color: #fff;
    color: #e8800c;
    font-weight: bold;
    font-size: 1.8rem;
    border-style: solid;
    border-color: #e8800c;
    border-width: 0.15rem;
    border-radius: 10%;
  }

  .new-topic-sub-btn:hover {
    background-color: #3CB7FF;
    color: #AB6809;
    border-color: #e8800c;
  }

  .gifs-display {
    text-align: center;
    border-style: solid;
    border-color: #fff;
    border-radius: 5%;
    margin: 0 4rem 5rem;
  }

  .gif-boxes {
    display:flex;
    justify-content: center;
  }

  .gifImgs {
    margin: 2rem 1rem;
  }

  .ratings {
    background-color: #fff;
    color: #e8800c;
    bottom: 4rem;
    width: 50%;
    margin: 0 auto;
    border-style: solid;
    border-width: 0.1rem 0;
    border-color: #e8800c;
    padding: 0.1rem;
  }





/* Site Footer */

/*  Typography  */
